<!-- Load Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

<div class="container footer">
	<div class="jumbotron">
		<small>copyright emanuelespies / <a alt="Access GitHub Status" href="https://github.com/emanuelespies/Good-Quotes">Good Quotes</a> - v2</small>
	</div>
</div>