<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
	<div class="container">
		<div class="page-header">
			<h1>Good Quotes <br /> <small>from Emanuele Spies profile</small></h1>
		</div>
		<ul class='list-group well'></ul>
	</div>

<script type="text/javascript">
	
		var url = "https://www.goodreads.com/quotes/list_rss/32122757-emanuele";
		$.ajax({
				url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent(url),
				dataType   : 'json',
				success: function (data) {
					$.each(data.responseData.feed.entries, function(i, item) {
						$('.container ul').append("<li class='list-group-item'>" + item.contentSnippet + "</li>");
					});
				},
				error: function(){
					window.console.log("Cannot get data");
					$('.container').addClass('alert alert-danger').html("Sorry, we have a problem. Maybe you will have lucky in the next time.");
				}
		});
</script>
	</div>
</div>


</body>
</html>
